PORT=3000
MP_ACCESS_TOKEN=SEU_ACCESS_TOKEN_DO_MERCADO_PAGO
MP_PUBLIC_KEY=SEU_PUBLIC_KEY_DO_MERCADO_PAGO
MP_WEBHOOK_SECRET=SEU_WEBHOOK_SECRET_DO_MERCADO_PAGO
PUBLIC_BASE_URL=https://SEU-BACKEND.onrender.com
FRONTEND_URL=https://SEU-SITE.netlify.app
